body {
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7E7A6E;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.p1 {
    margin-left: 10%;

}

.p2 {
    margin-right: 10%;
}

.section1 {
    background-image: url(../img/alina-khezina-PiT-eXanSf4-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 110%;
    position: relative;
}

.logo {
    width: 420px;
    height: 420px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0) invert(1);
}

.section1 .logo {
    position: absolute;
    margin-top: 17%;
    margin-left: 20%;
}

.section1 h2 {
    position: absolute;
    margin-top: 37.5%;
    margin-left: 20%;
    color: white;
    font-size: 60px;
}

.section1 p {
    position: absolute;
    margin-top: 40.99%;
    margin-left: 20%;
    color: white;
    font-size: 27px;
}

.section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container0 {
    text-align: center;
    margin-bottom: 5vh;
}

.Bienvenue {
    font-size: 12px;
    color: #7E7A6E;
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container1,
.container2,
.container3 {
    position: relative;
    overflow: hidden;
    z-index: 1;

    display: flex;
    gap: 50px;

    margin-bottom: 5vh;
    padding: 5vh 5vw;

    background-color: #7E7A6E;

    transition: 0.5s ease;
}


.container1,
.container3 {
    flex-direction: row-reverse;
}

.container2 {
    flex-direction: row;
}

.container1::before,
.container2::before,
.container3::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;

    z-index: 0;
}

.container1:hover::before,
.container2:hover::before,
.container3:hover::before {
    transform: scaleX(1);
}

.container1 img,
.container1 div,
.container2 img,
.container2 div,
.container3 img,
.container3 div {
    position: relative;
    z-index: 1;
}


.section2-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s ease;
}


.section2 h1 {
    margin: 0 0 15px 0;
    font-size: 50px;
    color: white;
    transition: 0.5s ease;
}

.section2 p {
    color: white;
    transition: 0.5s ease;
}

.container1 div p:first-child,
.container2 div p:first-child,
.container3 div p:first-child {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #d9c6a2;
}

.container1:hover h1,
.container2:hover h1,
.container3:hover h1 {
    color: black;
}

.container1:hover p,
.container2:hover p,
.container3:hover p {
    color: #555;
}

.container1:hover .section2-img,
.container2:hover .section2-img,
.container3:hover .section2-img {
    transform: scale(1.05);
}

.container1:hover div p:first-child,
.container2:hover div p:first-child,
.container3:hover div p:first-child {
    color: #8c7355;
}

.section3 {
    background-image: url(../img/gennady-zakharin-hc1_yRNTL-Y-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 30%;
    background-repeat: no-repeat;

    padding: 80px 5vw;
    color: white;
}

.section-txt {
    text-align: center;
    margin-bottom: 60px;
}

.section-txt h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.section-txt p {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}

.section-img {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.membre {
    text-align: center;
    width: 160px;
}

.membre img {
    width: 140px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease;
}

.membre p strong {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.membre p:last-child {
    font-size: 13px;
    opacity: 0.8;
}

.membre:hover img {
    transform: translateY(-8px);
    filter: brightness(1.1);
}

.section-txt {
    text-align: center;

}

.section4 {
    background-color: white;
    padding: 40px 0;
}

.container4 {
    max-width: 900px;
    width: 100%;
    margin: auto;
    background-color: #7E7A6E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    color: white;
    box-sizing: border-box;
}

hr {
    width: 180px;
    border: none;
    border-top: 2px solid black;
    margin: 40px auto 40px auto;
}

.c4.txt {
    text-align: center;
}

.section5 {
    width: 110%;
    height: 400px;
}

.carte {
    width: 550px;
    height: 400px;
    position: relative;
    margin-left: 33%;
}

footer {
    background-color: #7E7A6E;
    width: 110%;
    height: 270px
}

.logo-footer {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0) invert(1);
    margin-left: 40%;
}

.footer-txt {
    color: white;
    font-size: 12px;
    margin-bottom: 100px;
    display: flex;
    gap: 20px;
    margin-left: 35.5%;
    font-style: normal;
    text-decoration: underline;
}